body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightpink;
    text-align: center;
    padding: 45px;
}
.box1{
    background-color:salmon;
    padding: 30px;
    width: 700px;
    margin: auto;
    border-radius:10px;
    border: 2px solid rgb(130, 48, 48);
    box-shadow: 10px 5px 5px red;
}
input{
    padding: 9px;
    width: 80%;
    margin:7px 0px;
    background-color: rgb(197, 181, 181);
    border-radius: 5px;
    border: 2px black sold;
}
button{
    padding: 10px 20px;
    background-color:rgb(175, 29, 19);
    color: rgb(210, 210, 210);
    border: none;
    border-radius: 5px;
    cursor:pointer;
}
button:hover{
    background-color: darkblue;
}
#result{
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}